<% layout("/layouts/boilerplate") -%>

    <body>
        <h3>Appartment Details</h3>
        <div class="row row-cols-lg-3  row-cols-md-3 row-cols-sm-1">
            <% for(let listing of allListings){ %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card col">
                        <img src="<%= listing.image %>" class="card-img-top" alt="listing_image"
                            style="height:19 rem" />
                            <div class="card-img-overlay">hello</div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= listing.title %>
                            </h5>
                            <p class="card-text">Price:&#8377; <%= listing.price.toLocaleString("en-IN") %>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>